body{
margin: 0;
background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 20%, rgba(206,199,236,1) 44%, rgba(186,125,186,1) 100%);
}

#container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
#graphic{
    width: 100%;
    height: auto;
}

@media all and (min-width: 800px) {
    #container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    }
}

@media all and (max-width: 600px) {
    #container {
        width: 150%;
    }
}


